@import '../../assets/css/variables';
@import '../../assets/css/mixins';

.venues {
  font-size: 18px;
  font-weight: 600;
  height: 150px;
  margin: 0 auto;
  position: relative;
  width: 315px;

  &::-webkit-scrollbar {
    display: none;
    }

  .venues__list {
    display: flex;
    flex-direction: column;

    li {
      display: inline-block;
      margin-bottom: 20px;
      text-align: center;
      width: 315px;

      a {
        @include border-radius(15px);
        border: 1px solid rgba($color-dark, .2);
        box-sizing: border-box;
        color: $primary-color;
        display: block;
        padding: 40px 25px;
        width: 315px;
      }
    }
  }
}

.venues__list--maps {
  margin: 2rem 0;
}

.list-nav {
  margin: 0 auto;
  position: relative;
  width: 315px;

  button {
    @include border-radius(15px);
    color: $color-light;
    font-family: $font-family;
    padding: 20px;
    position: absolute;
    top: -120px;
  }

  .button-next {
    right: 0;
  }
}
