$primary-color: #835bf5;
$secondary-color: #6753ec;
$primary-button-color: #00efc6;
$secondary-button-color: #1fcaaf;
$color-dark: #2e303f;
$color-light: #ffffff;

$font-family: 'Montserrat', sans-serif;

$header-index: 100;
$button-index: 10;
