<app-header page-title="'Wyszukiwanie'"></app-header>

<div class="splash">
  <div class="splash__search">
      <img src="../../../src/assets/svg/placeholder-white.svg" alt="Logo Eat And Go">
      <h2>Wyszukiwanie</h2>
      <form action="" class="form">
        <input type="text"
                placeholder="Lokalizacja"
                ng-model="$ctrl.searchCriteria.near">
        <input type="text"
                placeholder="Czego szukasz"
                ng-model="$ctrl.searchCriteria.query">
        <button class="button form__button edit"
                ng-click="$ctrl.search()">Szukaj</button>
      </form>
  </div>
</div>
