@import '../../assets/css/variables';
@import '../../assets/css/mixins';

.splash {
  height: 315px;
  margin-bottom: 25px;

  h2 {
    color: $color-light;
  }

  img {
    margin: 20px 0 10px;
    width: 40px;
  }
}
