@import '../assets/css/variables';
@import '../assets/css/mixins';

header {
  background-color: $color-light;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.4rem;
  height: 45px;
  justify-content: space-between;
  line-height: 3.1rem;
  //margin-top: 19px;
  padding: 10px 25px 0;
  position: fixed;
  width: calc(100% - 50px);
  z-index: 10;

  div {
    width: 30%;
    .back {
      &:before {
        content: '';
        background-image: url(../assets/svg/left-arrow.svg);
        background-repeat: no-repeat;
        display: inline-block;
        height: 15px;
        margin-right: 8px;
        position: relative;
        top: 2px;
        width: 10px;
      }
    }

    .profile__link {
      &:after {
        background-image: url(../assets/svg/user.svg);
        background-repeat: no-repeat;
        content: '';
        display: inline-block;
        height: 16px;
        margin-left: 8px;
        position: relative;
        top: 2px;
        width: 16px;
      }
    }
  }
}
